*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 200vh;
}

header{
    background-color: black;
    position: sticky;
    top: 0;
}
header h1{
    color: greenyellow;
}
div{
    height: 30vh;
    position: relative;
}