#home{
    background-image: url("../images/cover.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    header{
        .container{
            .header{
                @include flex;
                align-items: flex-start;
                h1{
                    font-size: 30px;
                    font-weight: 700;
                }
                @include flex();
                nav{
                    ul{
                        @include flex();
                        gap: 2rem;
                        li{
                            a{
                                color: $text-color;
                            }
                        }
                    }
                }
            }
        }
    }
}