#one, #two, #three, #four{
    display: flex;
}

#one {
    gap: 70px;
}

#two, #three, #four {
    gap: 20px;
    margin-top: 20px;
}

.greenDiv {
    background-color: seagreen;
    height: 120px;
    border: 5px solid black;
}

.one1{
    width: 10%;
    box-sizing: content-box;
}
.one2{
    width: 80%;
}
.one3{
    width: 10%;
}



.two1{
    width: 80%;
    box-sizing: content-box;
}
.two2{
    width: 7%;
}
.two3{
    width: 20%;
}



.three1{
    width: 10%;
    box-sizing: content-box;
}
.three2{
    width: 20%;
}
.three3{
    width: 80%;
}

.four1{
    width: 30%;
}
.four2{
    width: 10%;
    box-sizing: content-box;
}
.four3{
    width: 30%;
}
.four4{
    width: 10%;
    box-sizing: content-box;
}
.four5{
    width: 30%;
}