*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    margin-top: 10%;
}
.container{
    width: 100vw;
    height: 100vh;
}
header{
    height: 10%;
    background-color: black;
}

.bbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin: 0 10%;
    gap: 30px;
}

.bbox .box{
    width: 30%;
    height: 20vh;
    background-color: teal;
    border-radius: 10px;
}

footer{
    height: 5vh;
    margin: 10%;
    background-color: rgb(255, 90, 118);
    border-radius: 5px;
}